:root {
  --brand-dark-gray: #203e71;
  --brand-white: #ffffff;
  --brand-black: #000000;
  --brand-dark-gray: #222222;
  --brand-white: #f5f4f1;
  --brand-blue: #79a7ed;
  --brand-light-gray: #f9fafc;
  --brand-purple: #c7d8e4;
  --brand-light-gray: #dddddd;
  --brand-dark-gray: #333333;
  --brand-blue: #3898ec;
  --brand-green: #80c3b9;
}
