/* background Colors - Extracted by DesignAssets */
:root {
  --background-color-1: #ffffff;
  --background-color-2: #203e71;
  --background-color-3: #f5f4f1;
  --background-color-4: #f9fafc;
  --background-color-5: #79a7ed;
  --background-color-6: #c7d8e4;
  --background-color-7: #dddddd;
  --background-color-8: #3898ec;
  --background-color-9: #80c3b9;
  --background-color-10: #000000;
}
