/* border Colors - Extracted by DesignAssets */
:root {
  --border-color-1: #203e71;
  --border-color-2: #ffffff;
  --border-color-3: #000000;
  --border-color-4: #222222;
  --border-color-5: #79a7ed;
}
